html {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 75%;
    margin: 0; 
    height: 100%;
}

body {
    height: auto;
	margin: 0; 
}

.logo-sistema {
	float: right;
	margin-right: 0.8em;
}

.titulo-sistema {
	font: bold 2.0em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-weight: 800;
	color: #e7e8ef;
	margin-bottom: 0em;
	margin-right: 0.5em;
	float: right;
}

.titulo-desc-sistema {
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 0.3em;
	color: #ffffff;
}

.largura10 {
	width: 10%;
}

.largura20 {
	width: 20%;
}

.largura30 {
	width: 30%;
}

.largura80 {
	width: 80%;
}

.hr-title {
	width: 100%;
	margin: 0px;
}

.hr-header {
	width: 100%;
	margin-top: 0.3 em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: thin 0.1 em;
	border-bottom: 0;
	border-color: #fbfbfb;
}

.hr-footer {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0.3 em;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	border: thin 0.1 em;
	border-bottom: 0;
	border-color: #fbfbfb;
}

.panel-dialog {
	margin-bottom: 0.8em;
}

.nome {
	background-color: #abc6d6;
	font-weight: bold; 
	margin-right: 0.2em;
	padding: 0.2em;
}

.valor {
	background-color: #f0f3f7;
	font-weight: normal;
	padding-right: 1em;
}

.label-negrito {
	font-weight: bold;	
}

.label-gray {
	color: #B5B5B5;
}

.grid-margin {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -4px;
	margin-top: -4px;
}

.grid-inline {
	display: inline-block;
}

.div-data {
	text-align: left;
}

.link:hover {
	text-decoration: underline;
}

.perfil-checkbox {
	text-align: center;
	
	width: 5%;
}

.perfil-descricao {
	width: 25%;
}

.perfil-unidadeDados {
	width: 70%;
}

.link-titulo {
	width: 30%;
}

.link-url {
	width: 60%;
}

.link-acao {
	text-align: center;
	
	width: 10%;
}

.noticia-titulo {
	width: 30%;
}

.noticia-descricao {
	width: 60%;
}

.noticia-acao {
	text-align: center;
	
	width: 10%;
}
