.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
	border: 1px solid #336699; 
	color: #fff;
	background: #19334d;
}

.ui-button-text-icon-left .ui-icon.fa {
	margin-left: -3px;
	margin-top: -6px;
	
	font-size: 1.1em;
}

.ui-button-text-icon-left .ui-icon.fa.fa-sign-in {
	font-size: 1.2em;
	left: 8.7em;
}

.ui-button-text-icon-left .ui-icon.fa.fa-sign-out {
	font-size: 1.2em;
}

button.ui-button.ui-state-hover, .ui-button.ui-state-hover, button.ui-button.ui-state-focus, .ui-button.ui-state-focus {
	border: 1px solid #156090;
	background: #336699;
	outline: 0 none
}

.ui-icon-alert {
	background-position: unset;
}

.ui-toolbar {
	border: 0;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #a2a2a2;
    background: #a2a2a2;
    color: #fff;
}

.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
    border: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #555;
}

.ui-dialog .ui-dialog-titlebar {
	font-size: 8px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1.1em;
	margin-right: 0;
}

.ui-dialog .ui-dialog-title {
	font-size: 16px!important;
}

.ui-confirm-dialog-message {
	margin-left: -15px;
}

.ui-messages-info {
	background: blue;
}

.ui-messages .ui-messages-info, .ui-message-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

.ui-messages .ui-messages-error, .ui-message-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.ui-messages .ui-messages-warn, .ui-message-warn {
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.ui-widget-content .ui-icon-alert {
	background-image: unset;
}

.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
}

.ui-panelmenu .ui-panelmenu-header.ui-state-active, .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
	background: #19334d;
	color: #fff;
	border-color: #19334d;
	border-radius: 0px;
}

.ui-panelmenu .ui-icon {
	left: 1.0em;
	top: 0.3em;
	
	font-size: 0.9em;
}

.ui-menu .ui-menuitem-icon {
	top: 0.2em;
	
	font-size: 0.9em;
}

.aw-topbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 55px;
	/*z-index: 9999;*/
	z-index: 999;
	background-color: #0d1a26;
	padding-top: 0.4em;
	box-shadow: #c0c0c0 0px 3px 1px;
}

.aw-topbar>img {
	margin-top: 10px;
	margin-left: 5px;
}	

.aw-linebar {
	position: fixed;
	right: 0;
	top: 4.6em;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: #b38600;
}

.aw-toolbar {
	position: fixed;
	right: 0;
	top: 4.8em;
	left: 0;
	margin-right: 0px;
	height: 30px;
	border: thin 0.2em black;
	/*z-index: 9999;*/
	z-index: 999;
}

.aw-footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #f0f0f0;
	border-top: solid 0.1em #dbdbdb;
	width: 100%;
	text-align: center;
	font: 15px Trebuchet MS;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	/*z-index: 9995;*/
	z-index: 995;
}

.aw-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	margin-top: 3.7em;
	left: 0;
	width: var(--largura-menu);
	margin-left: -261px;
	/*z-index: 9995;*/
	z-index: 995;
	transition: margin-left 0.5s;
	overflow-y: auto;
	background-color: #d3d9de;
	border-right: 1px solid #eaeaea;
	padding-bottom: 62px;
}

.aw-sidebar.is-toggled {
	margin-left: 0px;
}

.aw-content { 
	margin-right: 1.3em;
	margin-top: 9.0em;
	padding-left: 1.3em;
	top: 280px;
	left: 255px;
	transition: margin-left 0.5s;
	min-height: 100%;
	margin-bottom: 50px;
	z-index: 9990;
	
	padding-bottom: 50px;
}

.aw-toggle {
	float: left;
	margin-right: 12px;
	margin-left: 15px;
	margin-top: 12px;
	font-size: 20px;
	color: #fff;
}

.aw-menu {
	font-size: 1.1em;
	padding-top: 50px;
}

.aw-menu > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.aw-menu > ul a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	font-weight: 500;
	color: #373737;
} 

.aw-menu > ul i {
	margin-right: 6px;
}

.aw-menu > ul a:hover, .aw-menu > ul a:focus {
	background-color: #dfdfdf;
}

.aw-menu > ul .is-selected {
	border-left: 3px solid #1e94d2;
	background-color: #f3f3f3;
}

.aw-menu > ul .is-selected a {
	margin-left: -3px;
	color: #1e94d2;
}

.aw-page-title {
	margin: 0;
	padding: 50px 0;
	font-size: 1.5em;
	color: #373737;
}

.aw-system-title {
	margin: 0;
	font-size: 1.8em;
	color: #f9f9f9;	
}

@media (max-width: 380px) {
	.titulo-sistema {
		 visibility: hidden;
	}
	.titulo-desc-sistema {
		visibility: hidden;
	}
	.logo-sistema {
		visibility: hidden;
	}
}

@media (max-width: 550px) {
	.div-data {
		visibility: hidden;
	}
}

@media (max-width : 640px) {
	.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
		width: 100%;
	}
}

@media (max-width : 640px) {
	.ui-panelgrid.panelgrid-noborder .ui-grid-responsive .ui-grid-row {
		border: none;
	}
}

@media (min-width: 960px) {
	.aw-sidebar {
		margin-left: 0px;
	}
	.aw-sidebar.is-toggled {
		margin-left: -265px;
	}
}	

@media (min-width: 960px) {
	.aw-content {
		margin-left: 261px;
	}
	.aw-content.is-toggled {
		margin-left: 1.3em;
	}
	.menu-logo {
		width: 11em;
	}
}

a {
	text-decoration: unset;
}

a:-webkit-any-link {
	text-decoration: unset;
}

.fa {
	font-size: 1.3em;	
}

:root { 
	--largura-menu: 260px;
}
